/* ========================================= */
/* CARRITO */
/* ========================================= */

.area-carrito {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;

  h1 {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: left;
  }
}

/* TABLA DE PRODUCTOS */
.tabla-carrito {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;

  th,
  td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
    font-weight: 600;
  }

  .producto {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;

    img {
      width: 50px;
      border-radius: 4px;
    }
  }
}

.eliminar {
  color: red;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;

  &:hover {
    color: darkred;
  }
}

/* RESUMEN FINAL */
.resumen-carrito {
  text-align: right;
  font-size: 18px;

  .boton-finalizar {
    display: inline-block;
    background-color: #009f60;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;

    &:hover {
      background-color: #00784b;
    }
  }
}
