// ==========================
// VARIABLES PRINCIPALES
// ==========================
$color-verde: #198754;
$color-fondo: #ffffff;
$color-oscuro: #212529;
$color-gris: #6c757d;
$fuente-base: 'Poppins', sans-serif;
