@import "variables";
@import "home";
@import "footer";
@import "tienda";  
@import "novedades";
@import "libro"; 
@import "contacto";
@import "carrito";
@import "pago";
@import "cuenta";
@import "slider";

/* sass --watch sass/style.scss css/style.css */

@import "../node_modules/bootstrap/scss/bootstrap"; 
